<%= form_with model: [@feedback], url: feedback_path, local: true do |form| %>

<p>
  <%= form.label :title %> <br>
  <%= form.text_field :title %> <br>
</p>
<p>
  <%= form.label :body %> <br>
  <%= form.text_field :body %> <br>
</p>
<p><%=form.submit%></p>

<%end%>
