<div class="row justify-content-center mt-3 ">
  <div class="col col-md-4">
    <h2> <%= t("tests.show.list", test: @test.title) %> </h2>

      <table class="table mt-3">
        <thead class="thead-light">
          <tr>
            <th><%= t("tests.show.body") %></th>
            <th colspan="3"><%= t("common.actions") %></th>
          </tr>
        </thead>

        <ol>
          <%= render partial: 'admin/questions/question', collection: @test.questions %>
        </ol>


      </table>

      <%= link_to t('tests.show.new_question'), new_admin_test_question_path(@test), class: 'btn btn-primary'%>
      <%= link_to t('common.edit'), edit_admin_test_path(@test), class: "btn btn-link" %>
      <%= link_to t('common.back'), admin_tests_path, class: "btn btn-link" %>

  </div>
</div>
