<h1><%= t('tests.index.header') %></h1>

<table>
  <tr>
    <th><%= t('common.title') %></th>
    <th><%= t('tests.index.questions') %></th>
    <th><%= t('common.actions') %></th>
  </tr>

  <%= render @tests %>

</table>
